@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --bg-color: hsla(94, 46%, 57%, 1);
    --font-one: hsla(0, 0%, 100%, 1);
    --font-two: hsla(0, 0%, 40%, 1);
    --font-three: hsla(0, 0%, 42%, 1);
    --font-num: hsla(0, 0%, 15%, 1);
    --line-color:hsla(0, 0%, 0%, 0.64);


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: var(--bg-color);
    min-height: 100vh;
}

.container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 2rem;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    border-radius: 13px;
    padding: 1rem 1.4rem 1rem 2rem;
    border: 2px solid var(--font-one);

}

.logo img {
    height: 100%;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--font-one);
    border-radius: 10px;
    width: 139px;
    height: 128px;
}

.score-title {
    font-size: 17px;
    font-weight: 600;
    color: var(--font-two);

}

.score-number {
    font-size: 68px;
    font-weight: 700;
    color: var(--font-num);

}

.com-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--font-one);
    border-radius: 10px;
    width: 139px;
    height: 128px;
    margin-left: -208px;
}

.com-title {
    font-size: 17px;
    font-weight: 600;
    color: var(--font-two);
    margin-bottom: 5px;
}

.com-score-number {
    font-size: 68px;
    font-weight: 700;
    color: var(--font-num);
}

.game {
    position: relative;
    display: grid;
    grid-template-columns: 15rem 14rem;
    grid-template-areas:
     "rock scissors"
     "paper paper";
    place-items: center;
    justify-content: center;
    height: 28rem;
    padding-top: 4rem;
}
.choice-btn {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.choice {
    position: relative;
    width: 10rem;
    height: 10rem;
    display: grid;
    place-items: center;
    border-radius: 50%;

}


.choice img {
    width: 140px; 
    height: 140px;
}


  
  .choice-btn[data-choice="rock"] {
    grid-area: rock;
  }


.choice-btn[data-choice="scissors"] {
    grid-area: scissors;
}

.choice-btn[data-choice="paper"] {
    grid-area: paper;
}

.results {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    grid-template-areas:
    "you-title pc-title"
    "YOU-PICKED PC-PICKED";
    max-width: 1000px;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.results_heading {
    font-size: 1rem;
    letter-spacing: 0.1em;
    padding: 4rem 0;
    margin-bottom: 2rem;
    color: var(--font-one);
    position: absolute;
    text-align: center;
    width: 100%;
    top: 30%;
}

.results_heading:first-of-type {
    margin-top: -13rem;
    white-space: nowrap;
    position: fixed;
    margin-right: 288px;
}

.results_heading:last-of-type {
    margin-top: -13rem;
    white-space: nowrap;
    position: fixed;
    margin-left: 652px;
    
}

.you-picked-heading {
    margin-left: 0;
    margin-top: -38px;
}

.pc-picked-heading {
    margin-left: 0;
    margin-top: -38px;
}

.results_result:first-of-type {
    margin-top: -4rem;
    position: fixed;
    margin-right: 301px;
}

.results_result:last-of-type {
    margin-top: -4rem;
    position: fixed;
    margin-left: 644px;
}

.results_result {
    min-width: 1rem;
    min-height: 1rem;
    background: var(--bg-color);
    border-radius: 50%;
}

.results {
    position: relative;
}

.results_winner {
    grid-area: result-winner;
    display: grid;
    place-items: center;
}

.results.show-winner {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "you-title . pc-title"
    "you-picked result-winner pc-picked";
}

.winner .choice::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /* box-shadow: 0 0 0 30px rgba(79, 190, 68, 0.39), 0 0 0 65px rgba(29, 168, 43, 0.79), 0 0 0 90px rgba(46, 154, 37, 0.39); */
    animation: winner 1s ease forwards;
  }
  
  
  @keyframes winner {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  

.results_text {
    position: absolute;
    font-size: 37px;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
    color: var(--font-one);
    margin-left: 179px;
    white-space: nowrap;
    margin-top: -92px;
}

.ag-pc {
    font-size: 21px;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
    padding: 1.5rem;
    color: var(--font-one);
    margin-left: 176px;
    white-space: nowrap;
    margin-top: -20px;
}

.play-again {
    background: var(--font-one);
    outline: none;
    border: 2px solid transparent;
    border-radius: 0.6rem;
    color: var(--font-three);
    padding: 0.5rem 0.5rem;
    font-family: inherit;
    text-transform: inherit;
    font-size: 15px;
    letter-spacing: 0.1em;
    cursor: pointer;
    position: absolute;
    left: 75%;
    transform: translateX(-50%);
    bottom: -25px;
    white-space: nowrap;
}


.line1 {
    position: relative;
    width: 95px;
    top: -257px;
    left: 108px;
    border: 15px;
    color: var(--line-color);

}

.line2 {
    position: relative;
    width: 935px;
    top: -173px;
    left: 402px;
    border: 15px;
    color: var(--line-color);
}

.line3 {
    position: relative;
    width: 1062px;
    top: -240px;
    left: 549px;
    border: 15px;
    color: var(--line-color);
    border: 15px;

}

.line1.hidden,
.line2.hidden,
.line3.hidden {
  display: none;
}


.rules-btn {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    bottom: 2rem;
    right: 2rem;
    background: none;
    outline: none;
    border: 2px solid var(--font-one);
    border-radius: 0.6rem;
    padding: 0.6rem 2.5rem;
    letter-spacing: 0.1em;
    cursor: pointer;
    color: var(--font-one);
    z-index: 1;
}

.rule-model {
    position: relative;
    width: 303px;
    height: 367px;
    top: -379px;
    left: 1046px;
    border-radius: 13px;
    z-index: 2;
    padding: 10px;
    box-sizing: border-box;
    display: none;
}

.rule-model img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.close-btn {
    position: absolute;
    top: 25px;
    right: 20px;
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}



.results {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    grid-template-areas:
    "you-title pc-title"
    "you picked pc picked";
    max-width: 1000px;
    margin: 0 auto;
}

.result-heading:first-of-type {
    grid-area: you-title;
}

.result-heading:last-of-type {
    grid-area: pc-title;
}

.preload * {
    transition: none;
}

.hidden {
    display: none;
}

